body {
  margin-top: 4rem;
}

table {
  border: 1px solid;
}
tr:nth-child(even) {
  background: #eee;
}

td {
  font-family: monospace;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  text-align: left;
}

thead {
  background-color: #eee;
  font-size: 1.2rem;
}

thead th {
  padding: 0.5rem 1rem;
}

input[type="number"] {
  display: block;
  margin: 0.5rem 0;
}
